.before-ready>.loader-container{
	margin-top: 150px;
}

.top-panel{
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#login-fail-msg, #trainee-submit-fail-msg{
	display: none;
	color: crimson;
}

.app-panel{
	display: none;
}

#trainee-info input{
	margin-bottom: 5px;
}
